<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div>
  <p>Please enter your origin and destination city:</p>
  <label>origin</label><input type="string"  [(ngModel)]="origin" required>
  <label>destination</label><input type="string" [(ngModel)]="destination" required>
  <button (click)="getTripInfo()">Get trip information</button>
</div>

<div *ngIf="found">
    <p> The distance from {{data.destination}} to {{data.origin}} is {{data.distance}} km <br>
      and is {{data.duration}} driving </p>
</div>
